<% if(success && success.length > 0)  { %><div class="alert alert-warning col-lg-6  offset-lg-3 offset-sm-0  alert-dismissible fade show" role="alert">
   <%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<% if(error && error.length > 0)  { %><div class="alert alert-danger col-lg-6  offset-lg-3 offset-sm-0   alert-dismissible fade show" role="alert">
    <%= error %>
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
 </div>
 <% } %>