<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #fountainG{
	position: fixed;
	width:330px;
	height:40px;
    top: 200px;
    left:35%;
    z-index: 999;
    display: none;
	
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(0,0,0);
	width:30px;
	height:30px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.235s;
		-o-animation-duration:1.235s;
		-ms-animation-duration:1.235s;
		-webkit-animation-duration:1.235s;
		-moz-animation-duration:1.235s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:26px;
		-o-border-radius:26px;
		-ms-border-radius:26px;
		-webkit-border-radius:26px;
		-moz-border-radius:26px;
}

#fountainG_1{
	left:0;
	animation-delay:0.496s;
		-o-animation-delay:0.496s;
		-ms-animation-delay:0.496s;
		-webkit-animation-delay:0.496s;
		-moz-animation-delay:0.496s;
}

#fountainG_2{
	left:41px;
	animation-delay:0.6125s;
		-o-animation-delay:0.6125s;
		-ms-animation-delay:0.6125s;
		-webkit-animation-delay:0.6125s;
		-moz-animation-delay:0.6125s;
}

#fountainG_3{
	left:83px;
	animation-delay:0.739s;
		-o-animation-delay:0.739s;
		-ms-animation-delay:0.739s;
		-webkit-animation-delay:0.739s;
		-moz-animation-delay:0.739s;
}

#fountainG_4{
	left:124px;
	animation-delay:0.8655s;
		-o-animation-delay:0.8655s;
		-ms-animation-delay:0.8655s;
		-webkit-animation-delay:0.8655s;
		-moz-animation-delay:0.8655s;
}

#fountainG_5{
	left:165px;
	animation-delay:0.992s;
		-o-animation-delay:0.992s;
		-ms-animation-delay:0.992s;
		-webkit-animation-delay:0.992s;
		-moz-animation-delay:0.992s;
}

#fountainG_6{
	left:206px;
	animation-delay:1.1085s;
		-o-animation-delay:1.1085s;
		-ms-animation-delay:1.1085s;
		-webkit-animation-delay:1.1085s;
		-moz-animation-delay:1.1085s;
}

#fountainG_7{
	left:248px;
	animation-delay:1.235s;
		-o-animation-delay:1.235s;
		-ms-animation-delay:1.235s;
		-webkit-animation-delay:1.235s;
		-moz-animation-delay:1.235s;
}

#fountainG_8{
	left:289px;
	animation-delay:1.3615s;
		-o-animation-delay:1.3615s;
		-ms-animation-delay:1.3615s;
		-webkit-animation-delay:1.3615s;
		-moz-animation-delay:1.3615s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}
    </style>
</head>
<body>

    <div id="fountainG" id="loader">
        <div id="fountainG_1" class="fountainG"></div>
        <div id="fountainG_2" class="fountainG"></div>
        <div id="fountainG_3" class="fountainG"></div>
        <div id="fountainG_4" class="fountainG"></div>
        <div id="fountainG_5" class="fountainG"></div>
        <div id="fountainG_6" class="fountainG"></div>
        <div id="fountainG_7" class="fountainG"></div>
        <div id="fountainG_8" class="fountainG"></div>
    </div>
    <script>
     // Display loader when a request is sent
     function displayLoader() {
        document.getElementById('fountainG').style.display = 'block';
    }

    // Hide loader when a response is received
    function hideLoader() {
        document.getElementById('fountainG').style.display = 'none';
    }

    // Function to send a request
    function sendRequest() {
        displayLoader(); // Display loader immediately
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    // Request successful, hide the loader
                    hideLoader();
                } else {
                    // Request failed, hide the loader
                    hideLoader();
                    // Handle error
                    console.error('Request failed:', xhr.status);
                }
            }
        };

        // Open the request
        xhr.open('GET', 'https://api.example.com/data', true);
        // Send the request
        xhr.send();
    }

    // Simulate sending a request after page load
    window.addEventListener('load', function() {
        sendRequest();
    });
    </script>
</body>
</html>
