<% layout('/layout/boilerplate') %>
<div class="row justify-content-center align-items-center">
    <div class="col col-lg-6 col-sm-8">
        <form  method="get" id="formsubmit"> <!-- Replace '/submit' with your form action -->
            <div class="alert alert-warning mt-2 d-flex align-items-center justify-content-between" role="alert" style="padding: 1rem; font-size: 14px;">  
                <div>
                    <%=err.message%>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </form>
    </div>
</div>
